<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=US-ASCII">
    <title>PhoneBook</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
<div class="container">
    <div class="pure-g">
        <div class="pure-u-1">
            <div class="header">
                <img class="logo" src="images/phonebook.png"/>
                <p>v 1.0</p>
            </div>
        </div>
    </div>
    <div class="box-full" th:switch="${#lists.size(contacts)}">
        <h2><i class="fa fa-users"></i> Contacts</h2>

        <div class="pure-g">
            <form class="pure-form pure-u-sm-1 pure-u-1-2" th:action="@{/index}">
                <input type="text" th:name="q" th:value="*{q}" style="width: 80%;">
                <button type="submit" class="pure-button pure-button-primary">
                    <i class="fa fa-search"></i>
                </button>
            </form>
            <div class="pure-u-sm-1 pure-u-1-2">
                <a class="pure-button pure-button-primary" href="/create">Add Contact</a>
            </div>
        </div>

        <table class="pure-table">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone</th>
            </tr>
            </thead>

            <tbody th:case="0">
            <tr>
                <td colspan="3">No contacts</td>
            </tr>
            </tbody>

            <tbody th:case="*">
            <tr th:each="contact : ${contacts}">
                <td th:text="${contact.firstName}"></td>
                <td th:text="${contact.lastName}"></td>
                <td th:text="${contact.phone}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>